<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taihe.databasedemo.dao.CourseMapper">
<resultMap id="BaseResultMap" type="com.taihe.databasedemo.entity.Course">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="credit" jdbcType="TINYINT" property="credit"/>
</resultMap>
<sql id="Base_Column_List">
    id, name,credit
</sql>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course
    where id = #{id,jdbcType=INTEGER}
</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from course
    where id = #{id,jdbcType=INTEGER}
</delete>
<insert id="insert" parameterType="com.taihe.databasedemo.entity.Course">
    insert into course (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
</insert>
<insert id="insertSelective" parameterType="com.taihe.databasedemo.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="credit != null">
            credit,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id,jdbcType=INTEGER},
        </if>
        <if test="name != null">
            #{name,jdbcType=VARCHAR},
        </if>
        <if test="credit != null">
            #{credit,jdbcType=TINYINT},
        </if>
    </trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="com.taihe.databasedemo.entity.Course">
    update course
    <set>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="credit != null">
            credit = #{credit,jdbcType=TINYINT},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
</update>
<update id="updateByPrimaryKey" parameterType="com.taihe.databasedemo.entity.Course">
    update course
    set name = #{name,jdbcType=VARCHAR}
     ,credit=#{credit,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
</update>
<select id="selectExceptTaken" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course c
    where c.id not in
    (
    select tak.cid from take tak where sid=#{sid,jdbcType=INTEGER}
    )
</select>
</mapper>